<a class="species-link" href="${link}">
    <div class="card-container">
        <div class="photo-container">
            <img class="photo" src="${thumbnail_path}">
        </div>
        <p class="species-card-title">${title}</p>
    </div>
</a>
