<div class="card-container" style="border: 4px solid ${border_color}">
    <div class="photo-container">
        <a target="_blank" rel="noopener noreferrer" href="${image_basename}">
            <img class="photo" src="${thumbnail_basename}">
        </a>
    </div>
    <div>
        <div class="card-details-month-and-date">
            <p class="card-details-month"><b>${month}</b> </p>
            <p class="card-details-date">${date}</p>
        </div>
        ${location}
    </div>
</div>
