* {
    font-family: 'OpenBaskerville0053Normal';
    font-weight: normal;
    font-style: normal;
}
/*
Fonts:
https://fontlibrary.org/en/font/open-baskerville
https://fontlibrary.org/en/font/constructium
*/
body{
    background-color:#faf1d1;
}
img{
    image-orientation: from-image;
    /*
    Unfortunately this doesn't work for most browsers, and not even firefox despite being
    listed as supported here: https://caniuse.com/#search=image-orientation
    */
}
.description{
    font-size:18px;
    display:inline-block;
}
/*
https://stackoverflow.com/questions/9361108/removing-newline-after-h1-tags
Doesn't seem to work :(
*/

.species-title{
    display:inline-block;
}
.species-link{
    color:black;
    text-decoration:none;
}

.photo-list{
    display: flex;
    flex-wrap: wrap;
}
.card-container{
    margin:16px;
    padding:1px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    background-color: #fcffe6;
}

.card-container:hover{
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.3)
}

.photo-container{
    height:300px;
    width:300px;
    display: flex;
    border-bottom:2px solid #d9d9d9;
    align-items: center;
    justify-content: center;
    /* Centering: https://www.w3.org/Style/Examples/007/center.en.html */
}
/*

    border:3px solid #9ae59a;
9ae59a
*/

.photo{
    max-width:270px;
    max-height:270px;
    image-orientation:from-image;
}

.card-details-month-and-date{
    margin:12px;
    float:left;
}
.card-details-month{
    display:inline;
    font-size:14pt;
}
.card-details-date{
    display:inline;
    font-size:11pt;
}
.card-details-osm{
    margin:12px;
    float:right;
}

.species-card-title{
    margin:12px;
    font-size:15pt;
}

/*
    font-family: sans-serif;

*/

/*
*/

/*
.photo-list{
    vertical-align:middle;
    display:block;
    margin-left:auto;
    margin-right:auto;

img, .video{
    max-width:480px;
    max-height:auto;
}
*/
